swipe_sources:
  - nist
  - cis
  - owasp
  - mitre
  - incident_postmortems
  - security_conferences
  - vendor_blogs_curated
curation_rules:
  - high_signal_only
  - keep_examples_sanitized
  - include_context_and_takeaways
  - tag_by_domain_and_risk
  - never_include_live_exploits
  - never_include_active_credentials
